<form action="{{ path('search_whois') }}" method="post">
    <div class="input-group">
        <table>
			<tr>
				<td valign="top">
			        <input type="text" class="form-control" placeholder="Enter a domain name" name="domain">
			    </td>
			    <td valign="top">
        		    <button class="btn btn-default" type="submit">Search</button>
			    </td>
			</tr>
		</table>
    </div>
</form>